In [14]:
import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

In [15]:
# convert lowercase column use str.lower()
df['Courses'] = df['Courses'].str.lower()
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [16]:
# convert lowercase column use apply()
df['Courses'] = df['Courses'].apply(str.lower)
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [17]:
# convert lowercase column use apply()
df['Courses'] = df['Courses'].apply(str.lower)
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [18]:
# Use apply() & lambda function
df['Courses'].apply(lambda x: x.lower())
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [19]:
# Convert pandas column to lowercase use map()
df['Courses'] = df['Courses'].map(str.lower)
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [20]:
import pandas as pd

data = pd.DataFrame({

    'age' : [15, 17, 20, 14, 25],

    'name': ["Sample", "New User", "My Name", "Jane Doe", "John Doe"]

})

data['name'].str.len()

0    6
1    8
2    7
3    8
4    8
Name: name, dtype: int64

In [21]:
import numpy as np
import pandas as pd
s = pd.Series(['1. Bat.  ', '2. Dog!\n', '3. fox?\t', np.nan])
s.str.strip()

0    1. Bat.
1    2. Dog!
2    3. fox?
3        NaN
dtype: object

In [22]:
import numpy as np
import pandas as pd
s = pd.Series(["this is my new pen",
               "https://www.w3resource.com/pandas/index.php",
               np.nan])
s.str.split()

0                         [this, is, my, new, pen]
1    [https://www.w3resource.com/pandas/index.php]
2                                              NaN
dtype: object

In [23]:
#str.contains()
import numpy as np
import pandas as pd
s=pd.Series(['one','two','three','four'])
result = s.str.contains(pat='two')
result

0    False
1     True
2    False
3    False
dtype: bool

In [24]:
#str.replace()
s.str.replace('one','two')

0      two
1      two
2    three
3     four
dtype: object

In [25]:
#str.startswith()
s.str.startswith('o')

0     True
1    False
2    False
3    False
dtype: bool

In [26]:
#str.endswith()
s.str.endswith('r')

0    False
1    False
2    False
3     True
dtype: bool

In [27]:
#str.cat()
new=s.copy()
new=s.str.cat(new,sep=",")
new

0        one,one
1        two,two
2    three,three
3      four,four
dtype: object

In [28]:
#str.get()
data = s.str.get(0)
data

0    o
1    t
2    t
3    f
dtype: object

In [29]:
#str.slice()
data = new.str.slice(0,-2,1)
data

0        one,o
1        two,t
2    three,thr
3      four,fo
dtype: object

In [30]:
d=s.str.find('o')
d

0    0
1    2
2   -1
3    1
dtype: int64